// Add your variables here
// import this file to use these variables

// Importing the font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Quicksand:wght@300;400;500;600;700&display=swap');

// Colors
$main_color: #fffefb;
$font_color: #111111;
$accent_color1: #ffdefe;
$accent_color2: #fda9fa;
$accent_color3: #ddd8ff;
$accent_color4: #ab9dff;
// ------

// Font
$font: 'Quicksand', sans-serif;
$font_size: 1rem;
// ------